[package]
name = "unix-v11-kernel"
version = "0.0.1"
edition = "2024"

[dependencies]
acpi = "6.0.1"
embedded-sdmmc = "0.9.0"
fdt = "0.1.5"
nvme-oxide = "0.1.2"
spin = "0.10.0"
talc = "4.4.3"
usb-device = "0.3.2"
wikisort = "1.0.0"
zerocopy = { version = "0.8", features = ["derive"] }
